<table *ngIf="products?.length > 0">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Cost</th>
    <th>Image</th>
    <th>Video</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tr *ngFor="let product of products">
    <td>{{ product.title }}</td>
    <td>{{ product.description }}</td>
    <td>{{ product.cost }}</td>
    <td><img src="{{ product.image }}" alt="" /></td>
    <td>
      <div id="yt-container">
        <youtube-player
          videoId="{{ product.video }}"
          suggestedQuality="highres"
          [width]="75"
          [height]="50"
        >
        </youtube-player>
      </div>
    </td>
    <td (click)="openEdit(product.id)">Edit</td>
    <td (click)="onDelete(product.id)">Delete</td>
  </tr>
</table>
<button (click)="toggleCreate()">Add Product</button>
<div *ngIf="displayCreate">
  <button (click)="toggleCreate()" class="btn-primary">Done Adding</button>
  <app-product-create></app-product-create>
</div>

<div *ngIf="productId">
  <button (click)="closeEdit()">Close Edit</button>
  <app-product-edit [productId]="productId"></app-product-edit>
</div>
