<div id="authentication" class="container" *ngIf="!expired">
  <div class="card-with-header">
    <form class="form" [formGroup]="changeForm" (ngSubmit)="onSubmit()">
      <div class="inner-card">
        <h1>Update Password</h1>
      </div>
      <div class="input-container">
        <div class="user-input">
          <fa-icon [icon]="faLock"></fa-icon>
          <input
            class="form-control"
            id="passwordInput"
            type="password"
            name="password"
            placeholder="Password"
            formControlName="password"
          />
        </div>
        <div class="user-input">
          <fa-icon [icon]="faLock"></fa-icon>
          <input
            class="form-control"
            id="confirmPasswordInput"
            type="password"
            name="confirmPassword"
            placeholder="Confirm Password"
            formControlName="confirmPassword"
          />
        </div>
      </div>
      <div class="remember">
        <label class="switch">
          <input
            type="checkbox"
            id="remember"
            name="remember"
            formControlName="remember"
          />
          <span class="slider round"></span>
        </label>
        <label class="switch-text" for="remember">Remember Me</label>
        <!-- <fa-icon [icon]="faCheck" class="check" *ngIf="remember?.value"></fa-icon>
        <fa-icon [icon]="faTimesCircle" class="cross" *ngIf="!remember?.value"></fa-icon> -->
      </div>
      <div class="text-danger" *ngIf="password.invalid && password.touched">
        <div *ngIf="password.errors.required">Password is required.</div>
        <div *ngIf="password.errors.minlength">
          Password must be at least 8 characters long.
        </div>
        <div *ngIf="password.errors.invalidPassword">
          Password should have minimum 8 characters, at least 1 uppercase
          letter, 1 lowercase letter and 1 number
        </div>
      </div>
      <div
        class="text-danger"
        *ngIf="confirmPassword.invalid && confirmPassword.touched"
      >
        <div *ngIf="confirmPassword.errors.required">
          Password Confirmation is required.
        </div>
        <div *ngIf="confirmPassword.errors?.passwordMismatch">
          Passwords do not match.
        </div>
      </div>
      <div>
        <app-waiting></app-waiting>
        <app-messages></app-messages>
        <button
          class="btn-secondary"
          type="submit"
          value="Submit"
          [ngClass]="{ disabled: !changeForm.valid }"
          [disabled]="!changeForm.valid"
        >
          Update Password
        </button>
      </div>
    </form>
  </div>
</div>
<div *ngIf="expired">
  <h2 class="text-center expired">Your reset link has expired!</h2>
  <h4 class="text-center">Links are valid for 24 hrs.</h4>
  <app-resetrequest></app-resetrequest>
</div>
