<section>
  <div class="container">
    <h1 class="text-center">Completing the Sale</h1>
    <p>
      Part of providing the best customer experience is presenting each customer
      with the customized options which enhance their recent purchase.
    </p>
    <p>
      Logic Menu provides a customer centric, no pressure, approach to ensure
      each customer is given the opportunity to enhance their purchase.
    </p>
    <img
      src="../../../../../assets/images/pexels-andrea-piacquadio-3783255.jpg"
      alt=""
    />
    <h1 class="text-center">Customer Specific</h1>
    <p>
      Before finalizing the sale, the Finance Manager adds the appropriate
      product selections to the customers profile. The customer can receive the
      custom link through either an SMS message or email. Optionally the
      customer can complete on a dealer computer or tablet.
    </p>
    <h1 class="text-center">Ease to Use</h1>
    <p>
      An intuitive and customer focused interface provides an easy to use
      experience with no explanation necessary. Once the customer receives their
      custom link, they are educated on each product before making a selection
      wether to accept or decline the recommendation.
    </p>
    <p>
      Each interface is designed to work on an any device including phone,
      tablet, laptop or desktop computer.
    </p>
    <img
      src="../../../../../assets/images/finding-the-right-boat-dealer.jpg"
      alt=""
    />
  </div>
</section>
