@import "../../../../../styles.scss";

.cover {
  width: 100vw;
  position: relative;

  img {
    width: 100vw;
    max-width: 768px;
    overflow: hidden;
    display: block;
    margin: auto;
  }
  div {
    position: absolute;
    transform: translate(-50%, -50%);
    background: #00000017;
    display: block;
    max-width: 100%;
    padding: 2px 5px;
  }
  .top-title {
    top: 10%;
    left: 50%;
  }
  .bottom-title {
    top: 80%;
    left: 50%;
  }

  h1 {
    color: $color-light;
    font-size: 1.2em;
    display: block;
    text-align: center;
  }
}

#cta {
  margin: 2em 1em;

  .intro {
    text-align: center;
    margin: 3em auto;
    h1 {
      color: $color-secondary-dark;
      margin-bottom: 0.5em;
      font-size: 2.5em;
    }
    h2 {
      font-size: 1.5em;
      color: $color-secondary-dark;
    }
  }
  hr {
    width: 60%;
  }
  .cta {
    text-align: center;
  }
  .cta > h2 {
    line-height: 1.5em;
    color: $color-secondary-light;
  }

  .cta > h2:nth-child(7) {
    margin: 1.5em auto;
    font-size: 2.2em;
    color: $color-secondary-dark;
  }
}

.home-body {
  background-color: $color-primary;
  padding: 25px;
}

.mini-card {
  @extend .card;
  max-width: 100%;
  margin: auto;
  background-color: $color-light;
  margin: 40px auto;
  padding: 15px;
}

.mini-card-image {
  font-size: 6em;
  position: relative;
  max-width: 100%;
  height: 125px;
  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.mini-card-title {
  font-size: 1.75em;

  h3 {
    text-align: center;
    color: $color-dark;
  }
}

.mini-card-content {
  font-size: 1.2em;
  padding: 15px;
  color: $color-dark;
}

.get-started {
  width: 100%;
  margin: auto;
  button {
    color: $color-light;
    display: block;
    margin: auto;
    width: 90%;
    line-height: 50px;
    font-size: 1.5em;
  }
}
