<header id="header-nav" *ngIf="!isAuthenticated">
  <div id="title-group">
    <!-- <img src="" alt="" /> -->
    <div [routerLink]="['/']">
      <h1>Logic Menu</h1>
    </div>
  </div>
  <nav class="menu-wrap">
    <input type="checkbox" class="toggler" id="toggler" />
    <div class="hamburger">
      <div></div>
    </div>
    <div class="menu">
      <div>
        <div>
          <ul id="nav-list">
            <li>
              <div
                class="menu-item active"
                [routerLink]="['']"
                (click)="toggleCheckbox($event)"
                data-content="Home"
              >
                Home
              </div>
            </li>
            <li>
              <div
                class="menu-item"
                [routerLink]="['about']"
                id="menu-item-about"
                (click)="toggleCheckbox($event)"
              >
                About
              </div>
            </li>
            <li>
              <div
                class="menu-item"
                [routerLink]="['demo']"
                id="menu-item-demo"
                (click)="toggleCheckbox($event)"
              >
                Demo
              </div>
            </li>
            <li>
              <div
                class="menu-item"
                [routerLink]="['pricing']"
                id="menu-item-pricing"
                (click)="toggleCheckbox($event)"
              >
                Pricing
              </div>
            </li>
            <li>
              <div
                class="menu-item"
                [routerLink]="['/auth/login']"
                id="menu-item-login"
                (click)="toggleCheckbox($event)"
              >
                User Login
              </div>
            </li>
            <li>
              <div
                class="menu-item"
                [routerLink]="['/auth/register']"
                id="menu-item-register"
                (click)="toggleCheckbox($event)"
              >
                Sign Up
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>

<header id="header-nav" *ngIf="isAuthenticated">
  <div id="title-group">
    <!-- <img src="" alt="" /> -->
    <div [routerLink]="['']">
      <h1>Logic Menu</h1>
    </div>
  </div>
  <nav class="menu-wrap">
    <input type="checkbox" class="toggler" id="toggler" />
    <div class="hamburger">
      <div></div>
    </div>
    <div class="menu">
      <div>
        <div>
          <ul id="nav-list">
            <li>
              <div
                class="menu-item active"
                [routerLink]="['/user/home']"
                (click)="toggleCheckbox($event)"
                data-content="Home"
              >
                Home
              </div>
            </li>
            <li>
              <div
                class="menu-item"
                [routerLink]="['/user/menu']"
                id="menu-item-menu"
                (click)="toggleCheckbox($event)"
              >
                Create Menu
              </div>
            </li>
            <li>
              <div
                class="menu-item"
                [routerLink]="['/user/customers']"
                id="menu-item-customers"
                (click)="toggleCheckbox($event)"
              >
                Customers
              </div>
            </li>
            <li>
              <div
                class="menu-item"
                [routerLink]="['/user/products']"
                id="menu-item-products"
                (click)="toggleCheckbox($event)"
              >
                Products
              </div>
            </li>
            <li>
              <div
                class="menu-item"
                [routerLink]="['/user/account']"
                id="menu-item-account"
                (click)="toggleCheckbox($event)"
              >
                Account
              </div>
            </li>
            <li>
              <div
                class="menu-item"
                [routerLink]="['/user/profile']"
                id="menu-item-profile"
                (click)="toggleCheckbox($event)"
              >
                Profile
              </div>
            </li>
            <li>
              <div
                class="menu-item"
                id="menu-item-logout"
                (click)="logout($event)"
              >
                Logout
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
